<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial;
      font-size: 17px;
    }
    
    .container {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
    }
    
    .container img {vertical-align: middle;}
    
    .container .content {
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 95%;
      padding: 20px;
    }
    </style>
 
    <body>
    
    <div class="container">
      <img src="https://i.redd.it/tbcqmzr2y70b1.gif" alt="Notebook" style="width:100%;">
      <div class="content">
        <h1>Jose Raphael Quiambao</h1>
        <p>Senior Developer</p>
      </div>
    </div>
    
    </body>